# Ignore Python bytecode files
*.pyc
*.aux
*.bcf
*.out
*.log
*.synctex.gz
*.synctex
*.DS_Store
*.swp
*.save
# Ignore a specific folder (e.g., 'folder_name')
data/processed/
docs/reports/plots/

.ipynb_checkpoints/
