# Ignore Python bytecode files
*.pyc
*.aux
*.bcf
*.out
*.synctex
*.DS_Store
*.swp
*.save



# Ignore a specific folder (e.g., 'folder_name')
data/processed/
docs/reports/plots/
docs/reports/thesis_version/
.ipynb_checkpoints/
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
